.calendar {
    display: flex;
    flex-direction: column;
}
.month-days {
    width: 100%;
    padding: 0 15px;
}
.month-days .month {
    width: 7%;
}
.month-days .day {
    text-align: center;
    padding: 2px;
    width: 14px;
}
.day.weekend {
    border: 1px solid red;
}
.calendar-body {
    display: flex;
    flex-wrap: wrap;
}
.calendar-body .row {
    display: flex;
}
.calendar-body .col {
    flex: 1 1 auto;
}